* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 20px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

header button {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

.menu {
  transform: translateX(100vw);
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.menu ul {
  color: white;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mostrar {
  transform: translateX(0px);
}
